@import '_reset';
@import '_layout';
@import 'components/hero';
@import 'components/form';
@import 'components/parks';
@import 'components/rides';

.logo {
  width: 15rem;
  height: 10rem;
  object-fit: contain;

}
@media (max-width: 420px) {
  .logo {
    &--parks {
      height: 3rem;
    }
  }
}
