<div class="parks">
  <p class="parks__title">Pick your park:</p>

  <div class="parks__options">
    <a href="/disney" class="parks__options-item"><img src="./images/disney-logo.png" class="logo logo--parks" alt=""></a>
    <a href="/universal" class="parks__options-item"><img src="./images/universal-logo.png" class="logo logo--parks" alt=""></a>
  </div>
</div>
