<div class="app">
<div class="container">
  <div class="parks">
    <p class="parks__title">Pick your park:</p>

    <div class="parks__options">
      <a href="/disney" class="parks__options-item"><img src="./images/disney-logo.png" class="logo" alt=""></a>
      <a href="#" class="parks__options-item"><img src="./images/universal-logo.png" class="logo" alt=""></a>
    </div>
  </div>
</div>

  <div class="app__main">
    {{outlet}}
  </div>
</div>
