.parks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 100vh;

  &__options {
    display: flex;
    align-items: center;
  }

  &__options-item {
    flex-basis: calc(50% - 1rem);
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.4rem;
    background: rgba(255,255,255, .45);
    text-decoration: none;

    &:hover {
      border: 1px solid gray;
      background: rgba(#d7d7d4,.45);
    }
  }

  &__title {
    margin: 0.5rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
