<div class="hero">
  <img src="./images/disney-logo.png" class="logo" alt="">
  <div class="form">
    <select name="" id="" class="form__select">
      <option class="form__select-item" value="">Select your park</option>
      <option class="form__select-item" value="">Magic Kingdom</option>
      <option class="form__select-item" value="">Epcot</option>
      <option class="form__select-item" value="">Hollywood Studios</option>
      <option class="form__select-item" value="">Animal Kingdom</option>
    </select>
    <button class="form__button">submit</button>
  </div>
</div>

<div class="rides">
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time:</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
  <div class="rides__item">
    <p class="rides__item-title">Space Mountain</p>
    <p class="rides__item-subtitle">wait time</p>
    <p class="rides__item-wait">20 minutes</p>
  </div>
</div>
